---
const { cardContent } = Astro.props;
---

<ul class="full-width scroller">
  {
    cardContent.map((card) => (
      <li>
        <h3>{card.title}</h3>
        <p>{card.body}</p>
      </li>
    ))
  }
</ul>

<style>
  ul {
    scroll-snap-type: x mandatory;
    list-style: none;
    display: flex;
    gap: var(--card-gap);
    grid-column: full;
    padding-inline: max(1rem, 50% - var(--content-width) / 2);

    & li {
      border-radius: var(--card-border-radius);
      background-color: var(--card-background);
      padding: var(--card-padding);
      color: var(--card-text-color);
      width: var(--content-widht);
    }
  }
</style>
